{% extends 'layout.twig' %}

{% block header %}
  <p>BrowserSync works well but I'm still having issues with webpack-dev-server serving front-end assets.</p>
  <p><small>Webpack is up and running.</small></p>
{% endblock %}

{% block body %}

{{ parent() }}

{% if name %}
  <h2>Hello {{ name }}!</h2>
{% else %}
  <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
{% endif %}

{% endblock %}
