<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/resources/style.css">

    </head>
    <body>

      {% block header %}
        <p>Twig Test</p>
      {% endblock %}

      {% block body %}
        <h1>Slim</h1>
        <div>a microframework for PHP</div>
      {% endblock %}

      <script type="text/javascript" src="/resources/output.js"></script>

    </body>
</html>
